body
{
  background-color: rgb(153, 164, 175);
}

h1
{
  text-align: center;
}

h2
{
  text-align: center;
}

p
{
  text-align: center;
}

img
{
  border:solid, black, 10px ;
  width: 300px;
  height: auto;
  padding: 7px;
}


ul
{
  list-style-type: none;
  margin: auto;
  padding: 0%;
  width: 300px;
  background-color: rgb(143, 143, 143);
  text-transform: uppercase;
  position:absolute;
}

li>a
{
  display: block;
  color: black;
  padding: 8px 17px;
}

li>a:hover
{
  background-color: rgb(55, 89, 90);
  color: white;
}

table
{
width: auto;
text-align: center;
}

th
{
  text-align: center;
}

table, th, td
{
  border: 2px solid black;
  border-collapse: collapse;
}

th, td
{
  padding: 10px;
}