h1
{
  text-align: center;
}

h2
{
  text-align: center;
}

p
{
  text-align: right;
}

.blackwhite
{
  border:ridge, silver ;
  
}

.chipchrome
{
  border:ridge, silver ;
}

.silhouettes
{
  border:ridge, silver ;
}

.monotones
{
  border:ridge, silver ;
}

.logp
{
  border:ridge, silver ;
}


ul
{
  list-style-type: none;
  margin: auto;
  padding: 0%;
  width: 300px;
  background-color: rgb(143, 143, 143);
  text-transform: uppercase;
  position: fixed;
}

li>a
{
  display: block;
  color: black;
  padding: 8px 17px;
}

li>a:hover
{
  background-color: rgb(55, 89, 90);
  color: white;
}

table
{
width: auto;
}

th
{
  text-align: center;
}

table, th, td
{
  border: 2px solid black;
  border-collapse: collapse;
}

th, td
{
  padding: 10px;
}